.top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgb(198, 65, 65);
    /* color: white; */
    border: none;
    border-radius: 40%;
    padding: 5px 10px;
    font-size: 23px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 1000;
    
}
.top:hover {
    /* background: rgba(255, 255, 255, 0.975); */
    transform: scale(1.1);
  }
.top img{
    margin-top: 5px;
    
}
@media(max-width:500px){
    .top{
        bottom: 25px;
        right: 15px;
    
    }
}