
/* .why-choose-us {
  margin: 55px auto;
  padding: 20px;
  text-align: center;
  padding-top: 0px;

}

.header h4 {
  color: orange;
  margin: 0;
  font-size: 1.2rem;
}

.header h1 {
  margin: 10px 0;
  font-size: 2.5rem;
}

.header p {
  font-size: 1rem;
  color: #ccc;
}


.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 42px;
  margin-bottom: 35px;
  margin-left: 50px;
  margin-right: 50px;
} */

.feature {
  /* background-color: #ffffff; */
  /* padding: 20px;
  margin: 10px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
  border: 2px dashed #d06363; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  
}

/* .icon {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #5a77d4;
}

.feature h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.content{
  display: flex;
}

.feature p {
  font-size: 0.9rem;
  color: #000000;
}
@media(max-width:800px){
  .features-grid{
    margin-left: 0px;
    margin-right: 0px;
  }
} */




.why-choose-us {
  display: flex;
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

.left {
  flex-basis: 45%;
  position: relative;
  /* flex: 2;
  padding: 20px; */
}

.profile-img {
  width: 100%;
  border-radius: 10px;
  margin-left: 50px;
}

.right {
  /* flex: 2;
  padding: 20px; */
  flex-basis: 50%;
  padding: 20px;
  padding-top: 75px;
}

.right h4 {
  color: #555;
}

.right h2 {
  margin-top: 5px;
  font-size: 24px;
}

.right p {
  color: #777;
  font-size: 14px;
}

.featuress {
  margin-top: 20px;
}
.icon-circle{
  
}
.feature {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.icon {
  font-size: 40px;
  /* color: #ff6f61; */
  margin-right: 30px;
}

.feature h3 {
  margin: 0;
  font-size: 17px;
}

.feature p {
  margin: 0;
  font-size: 15px;
  color: #777;
}
@media(max-width:1024px){
  .why-choose-us{
    padding: 0px;
  }
  .right {
    padding: 0px;
    padding-top: 0px;
  }
  .featuress{
    margin-left: 0px;
  }
  .feature{
    margin-bottom: 20px;
  }
  .icon{
    font-size: 25px;
  }
  .feature h3{
    font-size: 16px;
  }
  .feature p{
    font-size: 14px;
  }
}
@media(max-width:800px){
  .why-choose-us{
    flex-direction: column;
  }
  .profile-img{
    margin-left: 0px;
  }
  .featuress{
    margin-bottom: 0px;
    
  }
}
@media(max-width:450px){
  .why-choose-us{
    padding: 0px;
  }
}
@media(min-width:2560px){
  .featuress{
    margin-top: 100px;
  }
  .feature{
    margin-bottom: 80px;
  }
  .icon{
    font-size: 60px;
  }
  .feature h3{
    font-size: 25px;
  }
  .feature p{
    font-size: 22px;
  }
}


